<mat-toolbar color="secondary">
  <h1 class="mat-display-1" color="primary">{{team.fullName}} Roster</h1>
</mat-toolbar>


<table mat-table [dataSource]="players" matSort>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let player" > {{player[12]}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let player"> <a [routerLink]="['player-details',player[12]]" target="_blank">{{player[3]}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
        <td mat-cell *matCellDef="let player" > {{player[6]}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let player" > {{player[7]}} </td>
    </ng-container>

    <ng-container matColumnDef="birth_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
        <td mat-cell *matCellDef="let player" > {{player[8]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>

